  <!--<div >
    <button *ngIf="toogle" class="example-button-row" mat-raised-button (click)="toogleComponents()">Add Contact</button>
    <button *ngIf="!toogle" class="example-button-row" mat-raised-button (click)="backToContacts()">Back</button>

  </div>
-->
  <button [routerLink]="['../add-contact']" class="example-button-row" mat-raised-button >Add Contact</button>
  <bottom-sheet-overview-example *ngIf="toogle"></bottom-sheet-overview-example>
  <div class="contacts" *ngIf="toogle && !contactToggle">
    <div >
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th class="element-name" mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
            <button class="element-name"  mat-button (click)="openContactInfo(element)">{{element.name}}</button></td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th class="element-id" mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> <span class="element-id">{{element.id}}</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

</div>

<!--  <app-add-contact *ngIf="!toogle && contactToggle"></app-add-contact>-->
<!--  <app-open-contact-info *ngIf="!toogle && !contactToggle"></app-open-contact-info>-->
